<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cn.appsys.dao.appversion.AppVersionMapper">
 	<insert id="getAppVersionAdd" parameterType="AppVersion">
		insert  into  app_version(appId,versionNo,versionInfo,publishStatus,downloadLink,versionSize,createdBy,creationDate,modifyBy,modifyDate,apkLocPath,apkFileName)
		values(#{appId},#{versionNo},#{versionInfo},#{publishStatus},#{downloadLink},#{versionSize},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate},#{apkLocPath},#{apkFileName})
	</insert>
	
   <select id="getAppVersionByAppId" resultType="AppVersion">
		select v.id, v.appId,v.versionNo,v.versionInfo,v.publishStatus,v.downloadLink,v.versionSize,v.createdBy,v.creationDate,v.modifyBy,v.modifyDate,v.apkLocPath,v.apkFileName,
		(select a.softwareName from app_info a where a.id = v.appId) as appName,
		(select d.valueName from data_dictionary d where  v.publishStatus=d.valueId  AND d.typeCode='PUBLISH_STATUS') as publishStatusName
		from   app_version  v
		where  v.appId=#{appId}
	</select>
   <select id="selectAppVersion" resultType="AppVersion">
   			select * from app_version where appId=#{appId} and  versionNo=#{versionNo}
   </select>
   <update id="updeteAppVersionApp" parameterType="AppVersion">
   update app_version
   		<trim prefix="set" suffix="where id=#{id}" suffixOverrides=",">
   		<if test="appId !=null">appId=#{appId},</if>
   		<if test="versionNo !=null and versionNo !=''">versionNo=#{versionNo},</if>
   		<if test="versionInfo !=null and versionInfo !=''">versionInfo=#{versionInfo},</if>
   		<if test="publishStatus !=null">publishStatus=#{publishStatus},</if>
   		<if test="downloadLink !=null and downloadLink !=''">downloadLink=#{downloadLink},</if>
   		<if test="versionSize !=null">versionSize=#{versionSize},</if>
   		<if test="createdBy !=null">createdBy=#{createdBy},</if>
   		<if test="creationDate !=null">creationDate=#{creationDate},</if>
   		<if test="modifyBy !=null">modifyBy=#{modifyBy},</if>
   		<if test="modifyDate !=null">modifyDate=#{modifyDate},</if>
   		<if test="apkLocPath !=null and apkLocPath !=''">apkLocPath=#{apkLocPath},</if>
   		<if test="apkFileName !=null and apkFileName !=''">apkFileName=#{apkFileName},</if>
   		</trim>
   </update>
   <select id="getAppVersionById" resultType="AppVersion">
   		select v.*,
   			(select a.softwareName from app_info a where a.id=v.appId) as appName,
   			(select d.valueName from data_dictionary d where  v.publishStatus=d.valueId  AND d.typeCode='PUBLISH_STATUS') as publishStatusName
   			from app_version v where v.id=#{id}
   </select>
   <update id="deleteFile" parameterType="AppVersion">
		update app_version set downloadLink=null,apkLocPath=null where id = #{id}
	</update>
</mapper>
